{%extends 'base.html'%}
  {%load static%}
  {%block title%} pricing-page {%endblock%}
<div class="page-wrapper">
       
            {%block switcher%}
            {%endblock%}
            {%block pricingAlldetails%}
        
        <section class="pricing-one">
            <div class="auto-container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="pricing-card">
                            <div class="pricing-card__icon">
                                <i class="flaticon-star"></i>
                            </div><!-- /.pricing-card__icon -->
                            <p class="pricing-card__name">Star Plan</p>
                            <h3 class="pricing-card__amount">$20.00</h3><!-- /.pricing-card__amount -->
                            <div class="pricing-card__bottom">
                                <ul class="list-unstyled pricing-card__list">
                                    <li>
                                        <i class="flaticon-check"></i>
                                        Extra features
                                    </li>
                                    <li>
                                        <i class="flaticon-check"></i>
                                        Lifetime free support
                                    </li>
                                    <li>
                                        <i class="flaticon-delete unavailable"></i>
                                        Upgrate options
                                    </li>
                                    <li>
                                        <i class="flaticon-delete unavailable"></i>
                                        Full access
                                    </li>
                                </ul><!-- /.list-unstyled pricing-card__list -->
                                <a class="theme-btn btn-style-one" href="contact.html">
                                    <i class="btn-curve"></i>
                                    <span class="btn-title">Choose a plan</span>
                                </a>
                            </div><!-- /.pricing-card__bottom -->
                        </div><!-- /.pricing-card -->
                    </div><!-- /.col-sm-12 col-md-12 col-lg-4 -->
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="pricing-card">
                            <div class="pricing-card__icon">
                                <i class="flaticon-heart"></i>
                            </div><!-- /.pricing-card__icon -->
                            <p class="pricing-card__name">Heart plan</p>
                            <h3 class="pricing-card__amount">$30.00</h3><!-- /.pricing-card__amount -->
                            <div class="pricing-card__bottom">
                                <ul class="list-unstyled pricing-card__list">
                                    <li>
                                        <i class="flaticon-check"></i>
                                        Extra features
                                    </li>
                                    <li>
                                        <i class="flaticon-check"></i>
                                        Lifetime free support
                                    </li>
                                    <li>
                                        <i class="flaticon-check"></i>
                                        Upgrate options
                                    </li>
                                    <li>
                                        <i class="flaticon-delete unavailable"></i>
                                        Full access
                                    </li>
                                </ul><!-- /.list-unstyled pricing-card__list -->
                                <a class="theme-btn btn-style-one" href="contact.html">
                                    <i class="btn-curve"></i>
                                    <span class="btn-title">Choose a plan</span>
                                </a>
                            </div><!-- /.pricing-card__bottom -->
                        </div><!-- /.pricing-card -->
                    </div><!-- /.col-sm-12 col-md-12 col-lg-4 -->
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="pricing-card">
                            <div class="pricing-card__icon">
                                <i class="flaticon-diamond"></i>
                            </div><!-- /.pricing-card__icon -->
                            <p class="pricing-card__name">Diamond Plan</p>
                            <h3 class="pricing-card__amount">$40.00</h3><!-- /.pricing-card__amount -->
                            <div class="pricing-card__bottom">
                                <ul class="list-unstyled pricing-card__list">
                                    <li>
                                        <i class="flaticon-check"></i>
                                        Extra features
                                    </li>
                                    <li>
                                        <i class="flaticon-check"></i>
                                        Lifetime free support
                                    </li>
                                    <li>
                                        <i class="flaticon-check"></i>
                                        Upgrate options
                                    </li>
                                    <li>
                                        <i class="flaticon-check"></i>
                                        Full access
                                    </li>
                                </ul><!-- /.list-unstyled pricing-card__list -->
                                <a class="theme-btn btn-style-one" href="contact.html">
                                    <i class="btn-curve"></i>
                                    <span class="btn-title">Choose a plan</span>
                                </a>
                            </div><!-- /.pricing-card__bottom -->
                        </div><!-- /.pricing-card -->
                    </div><!-- /.col-sm-12 col-md-12 col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>


        <!-- Call To Section -->
        <section class="call-to-section">
            <div class="auto-container">
                <div class="inner clearfix">
                    <div class="shape-1 wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms"></div>
                    <div class="shape-2 wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms"></div>
                    <h2>Let's Get Your Project <br>Started!</h2>
                    <div class="link-box">
                        <a class="theme-btn btn-style-two" href="about.html">
                            <i class="btn-curve"></i>
                            <span class="btn-title">Contact with us</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

       
    
    
    
    
</div>
{%endblock%}
    <!--End pagewrapper-->

