{%extends 'base.html'%}



{%block title%} products-Page {%endblock%}
{%load static%}
    <div class="page-wrapper">
        {%block switcher%}
        {%endblock%}
        <!-- style switcher -->
    
           

        <!-- Main Header -->
  
                        <!-- Main Menu -->
                       
                                   
                  
            <!--End Header Upper-->


  
        <!-- End Main Header -->

        <!--Mobile Menu-->
        
        <!-- Banner Section -->
        {%block productsAll%}
        <section class="page-banner">
            <div class="image-layer" style="background-image:url(images/background/image-7.jpg);"></div>
            <div class="shape-1"></div>
            <div class="shape-2"></div>
            <div class="banner-inner">
                <div class="auto-container">
                    <div class="inner-container clearfix">
                         <h1>products-Details</h1> 
                        <div class="page-nav">
                            <ul class="bread-crumb clearfix">
                                <li><a href="/shop">Home</a></li>
                                <li class="active">Shop</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Banner Section -->

        <section class="product-details">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-12 col-xl-6">
                        <a href="images/update-26-01-2021/shops/shop-d-1.jpg"
                            class="product-details__image lightbox-image">
                            <img src="images/update-26-01-2021/shops/shop-d-1.jpg" alt="">
                        </a><!-- /.product-details__image -->
                    </div><!-- /.col-md-12 col-lg-6 -->
                    <div class="col-lg-12 col-xl-6">
                        <div class="product-details__top">
                            <h3 class="product-details__title">
                                Comfy chair
                            </h3><!-- /.product-details__title -->
                            <p class="product-details__price">$46.98</p>
                        </div><!-- /.product-details__top -->
                        <div class="product-details__reveiw">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>2 Customer Reviews</span>
                        </div><!-- /.product-details__reveiw -->
                        <div class="product-details__content">
                            <p>Aliquam hendrerit a augue insuscipit. Etiam aliquam massa quis des mauris commodo
                                venenatis ligula commodo leez sed blandit convallis dignissim onec vel pellentesque
                                neque.</p>
                            <p>REF. 4231/406 <br>
                                Available in store</p>
                        </div><!-- /.product-details__content -->
                        <div class="product-details__quantity">
                            <h3 class="product-details__quantity-title">Choose quantity</h3>
                            <div class="quantity-box">
                                <button type="button" class="sub"><i class="fa fa-minus"></i></button>
                                <input type="number" id="1" value="1" />
                                <button type="button" class="add"><i class="fa fa-plus"></i></button>
                            </div>
                        </div><!-- /.product-details__quantity -->
                        <div class="product-details__buttons">
                            <a class="theme-btn btn-style-two" href="cart.html">
                                <i class="btn-curve"></i>
                                <span class="btn-title">Add to wishlist</span>
                            </a>
                            <a class="theme-btn btn-style-one" href="cart.html">
                                <i class="btn-curve"></i>
                                <span class="btn-title">Add to cart</span>
                            </a>
                        </div><!-- /.product-details__buttons -->
                        <div class="product-details__social">
                            <span>Share with friends</span>
                            <a href="#" class="fab fa-facebook-square"></a>
                            <a href="#" class="fab fa-twitter"></a>
                            <a href="#" class="fab fa-instagram"></a>
                            <a href="#" class="fab fa-pinterest-p"></a>
                        </div><!-- /.product-details__social -->
                    </div><!-- /.col-md-12 col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.product-details -->

        <section class="product-description">
            <div class="auto-container">
                <h3 class="product-description__title">Description</h3><!-- /.product-title -->
                <p class="product-description__text">Lorem ipsum dolor sit amet sectetur adipiscin elit cras feuiat
                    antesed ces condimentum viverra duis autue nim convallis id diam vitae duis egety dictum erosin
                    dictum sem. Vivamus sed molestie sapien aliquam et facilisis arcu dut molestie augue suspendisse
                    sodales tortor nunced quis cto ligula posuere cursus keuis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecated cupidatat non
                    proident sunt in culpa qui officia deserunt mollit anim id est laborum ivamus sed molestie sapien.
                </p>
                <p class="product-description__text">Aliquam et facilisis arcuut olestie augue. Suspendisse sodales
                    tortor nunc quis auctor ligula posuere cursus duis aute irure dolor in reprehenderit in voluptate
                    velit esse cill doloreeu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt
                    in culpa qui officia deserunt mollit anim id est laborum. Vivaus sed delly molestie sapien. Aliquam
                    et facilisis arcuut molestie augue. </p>
            </div><!-- /.container -->
        </section><!-- /.product-description -->

        <section class="review-one">
            <div class="auto-container">
                <div class="comments-area">
                    <div class="comments-title">
                        <h3>2 Comments</h3>
                    </div>
                    <div class="comment-box">
                        <div class="comment">
                            <div class="author-thumb">
                                <figure class="thumb"><img src="images/resource/author-7.jpg" alt="">
                                </figure>
                            </div>
                            <div class="info">
                                <div class="name">Jessica Brown</div>
                                <div class="date">20 May, 2020 . 4:00 pm</div>
                            </div>
                            <div class="text">Aliquam et facilisis arcuut olestie augue. Suspendisse sodales tortor nunc
                                quis auctor ligula posuere cursus duis aute irure dolor in reprehenderit in voluptate
                                velit esse cill doloreeu fugiat nulla pariatur excepteur sint</div>
                            <div class="reply-btn">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                    <div class="comment-box">
                        <div class="comment">
                            <div class="author-thumb">
                                <figure class="thumb"><img src="images/resource/author-8.jpg" alt="">
                                </figure>
                            </div>
                            <div class="info">
                                <div class="name">David Martin</div>
                                <div class="date">20 May, 2020 . 4:00 pm</div>
                            </div>
                            <div class="text">Aliquam et facilisis arcuut olestie augue. Suspendisse sodales tortor nunc
                                quis auctor ligula posuere cursus duis aute irure dolor in reprehenderit in voluptate
                                velit esse cill doloreeu fugiat nulla pariatur excepteur sint</div>
                            <div class="reply-btn">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>

                </div>

            </div><!-- /.container -->
        </section><!-- /.review-one -->

        <section class="review-form">
            <div class="auto-container">
                <h3 class="review-form__title">Add a review</h3><!-- /.review-form__title -->
                <p class="review-form__text">
                    Rate this Product?
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </p>
                <form action="#" class="review-form__form default-form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea placeholder="Write Message"></textarea>
                            </div><!-- /.form-group -->
                        </div><!-- /.col-lg-12 -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" placeholder="Your Name">
                            </div><!-- /.form-group -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" placeholder="Email Address">
                            </div><!-- /.form-group -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                            <button class="theme-btn btn-style-one" type="submit">
                                <i class="btn-curve"></i>
                                <span class="btn-title">Submit Review</span>
                            </button>
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </form>
            </div><!-- /.container -->
        </section><!-- /.review-form -->


       
    </div>
    <!--End pagewrapper-->
{%endblock%}
 
